<h1>
    <a mat-icon-button class="button-back" color="accent" (click)="goBack()"><mat-icon>arrow_back_ios</mat-icon></a>
    Users 
    <a class="button-action" mat-flat-button color="primary" routerLink="/user"><mat-icon>add_circle</mat-icon> New User</a>
</h1>
<div *ngIf="this.users == null; else pageContent;" class="awaitLoading">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<ng-template #pageContent>
    <mat-list>
        <span *ngFor="let user of this.users; last as last">
            <mat-list-item matLine routerLink="/user/{{ user.id }}">
                {{user.name}}
            </mat-list-item>
        </span>
    </mat-list>
</ng-template>
