ion-searchbar {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
  padding: 2px;
  z-index: 100;
  position: absolute;
}
#solidBG {
  height: 100%;
  background-color: white;
}
.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // margin: 30px;
  }
  
  .map-frame {
    // border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }
