<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/tabs/me/tips"></ion-back-button>
    <ion-title>Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tip">
  <!-- User Header -->
  <eats-user-header [usr]="tip.usr" title="{{ (tip.tipType ? tip.tipType.toString() : '') | titlecase}} Tip"></eats-user-header>

  <ion-card-content class="date-line">
    <ion-card-subtitle color="light">{{ tip.created.toDate().toDateString() }}</ion-card-subtitle>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <ion-card-subtitle (click)="likeAction()">
        <ion-icon *ngIf="tip.iLike" name="heart" color="danger"></ion-icon>
        <ion-icon *ngIf="!tip.iLike" name="heart-outline"></ion-icon>
        <ion-label> {{tip.reactionCount}} {{tip.reactionCount == 1 ? 'Like' : 'Likes'}}</ion-label>
      </ion-card-subtitle>
    </ion-col>
  </ion-row>

  <!-- Edit Button -->
  <ion-row *ngIf="this.userService.isMe(this.tip.usr)">
    <ion-col>
      <ion-button expand="block" (click)="editTip()">Edit your tip<ion-icon class="ion-padding-start ion-padding-end" name="create-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>

  <!-- Deal Image -->
  <ion-img *ngIf="tip && tip.image64" [src]="'data:image/jpg;base64,' + tip.image64"></ion-img>

  <!-- Description -->
  <ion-toolbar class="ion-align-items-center">
    <ion-title color="primary">Description</ion-title>
  </ion-toolbar>
  <ion-list lines="none">
    <ion-item *ngIf="tip.text">
      <ion-textarea autoGrow="true" readonly="true" >{{ tip.text }}</ion-textarea>
    </ion-item>
  </ion-list>

  <!-- Tags -->
  <eats-tag-display [UGCId]="tip.id"></eats-tag-display>

  <!-- Comments -->
  <eats-detail-comments [UGCId]="tip.id"></eats-detail-comments>
</ion-content>

<ion-row *ngIf="tip == null" style="height: 100%">
  <ion-col class="ion-text-center" style="margin: auto;">
    <ion-spinner style="margin: auto;"></ion-spinner>
  </ion-col>
</ion-row>