<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/me" slot="start"></ion-back-button>
    <ion-title>Edit your Tip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="tip">
  <form [formGroup]="tipForm">
    <ion-grid class="ion-padding">
      <!-- Type -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Type</ion-label>
            <ion-select formControlName="type">
              <ng-container *ngFor="let choice of types">
                <ion-select-option [value]="choice.val">{{choice.show | titlecase}}</ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.type">
            <ion-item *ngIf="tipForm.get('type').hasError(validation.type) && (tipForm.get('type').dirty || tipForm.get('type').touched)">
              <ion-label class="ion-text-wrap" color="danger">
                {{ validation.message }}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-col>
      </ion-row>
      <!-- Description -->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
          <ng-container *ngFor="let validation of validation_messages.description">
            <ion-item *ngIf="tipForm.get('description').hasError(validation.type) && (tipForm.get('description').dirty || tipForm.get('description').touched)">
              <ion-label class="ion-text-wrap" color="danger">
                {{ validation.message }}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-col>
      </ion-row>
      <!-- Picture -->
      <ion-row (click)="selectImage()">
        <ion-col>
          <ion-img *ngIf="tip.image64" [src]="'data:image/jpg;base64,' + tip.image64"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row (click)="selectImage()">
        <ion-col class="ion-text-center">
          <ion-list lines="none">
            <ion-item>
              <ion-label><ion-icon name="image-outline" color="primary" size="large" slot="start"></ion-icon>{{tip.image64 ? 'Edit Photo' : 'Add a Photo'}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <!-- Tags -->
      <eats-tag-edit [UGCId]="tip.id" (tagsUpdatedEvent)="updateTags($event)"></eats-tag-edit>
      <!-- Save Button -->
      <ion-row>
        <ion-col>
          <ion-button expand="block" [disabled]="!tipForm.valid" (click)="saveTip()">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
