<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/nearby" slot="start"></ion-back-button>
    <ion-title *ngIf="foodPantrySite">
      <div class="ion-text-wrap">{{ foodPantrySite.name }}</div>
    </ion-title>
    <ion-button *ngIf="foodPantrySite" (click)="navigate()" slot="end" class="ion-padding-end">
      <ion-icon name="car-outline" color="white" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="foodPantrySite">
  <ion-list lines="none">
    <ion-item>
      <ion-icon name="location-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ foodPantrySite.address ? foodPantrySite.address : "No Address found" }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="call-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ foodPantrySite.phone ? foodPantrySite.phone : "No Phone number found" }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label *ngIf="!foodPantrySite.schedule" class="ion-text-wrap">No Schedule found</ion-label>
      <div *ngIf="foodPantrySite.schedule">
        <ion-label *ngFor="let line of foodPantrySite.schedule.split('\n')" class="ion-text-wrap">{{ line }}</ion-label>
      </div>
    </ion-item>
    <ion-item>
      <ion-icon name="newspaper-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label *ngIf="!foodPantrySite.notes" class="ion-text-wrap">No Notes found</ion-label>
      <div *ngIf="foodPantrySite.notes">
        <ion-label *ngFor="let line of foodPantrySite.notes.split('\n')" class="ion-text-wrap">{{ line }}</ion-label>
      </div>
    </ion-item>

  </ion-list>
  <ion-grid class="ion-padding">
  </ion-grid>
</ion-content>
