<ion-card *ngIf="ugc">
  <!-- User Header -->
  <ion-item *ngIf="user" lines="none" (click)="goToDetail()">
    <ion-avatar item-start>
      <img *ngIf="user.avatar64" [src]="'data:image/jpg;base64,' + user.avatar64">
      <img *ngIf="user.avatar64 === null" src="assets/images/empty_avatar.png">
    </ion-avatar>
    <ion-card-header class="custom-vertical-pad">
      <ion-card-title item-content class="ion-align-items-center">
        {{ user.name != ' ' ? user.name : user.username }}
        <ion-icon *ngIf="user.id != userService.me.id && userService.iFollow(user.id)" name="people" color="primary"></ion-icon>
        <ion-icon *ngIf="user.id != userService.me.id && !userService.iFollow(user.id)" name="people-outline"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle item-content>{{ tip ? tip.tipType : '' | titlecase }} {{ type }}</ion-card-subtitle>
    </ion-card-header>
  </ion-item>
  <ion-card-content class="date-line">
    <ion-card-subtitle color="light">{{ ugc.created.toDate().toDateString() }}</ion-card-subtitle>
  </ion-card-content>

  <!-- Card Image -->
  <ion-img *ngIf="deal && deal.image64" [src]="'data:image/jpg;base64,' + deal.image64" (click)="goToDetail()"></ion-img>

  <!-- Card Content -->
  <ion-card-content *ngIf="deal" (click)="goToDetail()">
    <ion-card-title>
      {{ deal.title }}
    </ion-card-title>
    <ion-card-subtitle color="secondary" size="small">
      {{ deal.market.name }}
    </ion-card-subtitle>
  </ion-card-content>
  <ion-card-content *ngIf="tip" (click)="goToDetail()">
    <p>
      {{ tip.text }}
    </p>
  </ion-card-content>

  <!-- Social Footer -->
  <ion-row>
    <ion-col (click)="likeAction()">
      <ion-icon *ngIf="ugc.iLike" name="heart" color="danger" class="iconFooter"></ion-icon>
      <ion-icon *ngIf="!ugc.iLike" name="heart-outline" class="iconFooter"></ion-icon>
      <ion-label> {{ugc.reactionCount}} {{ugc.reactionCount == 1 ? 'Like' : 'Likes'}}</ion-label>
    </ion-col>
    <ion-col (click)="goToDetail()">
      <ion-icon name="pricetag-outline" class="iconFooter"></ion-icon>
      <ion-label> {{ugc.tagCount}} {{ugc.tagCount == 1 ? 'Tag' : 'Tags'}}</ion-label>
    </ion-col>
    <ion-col (click)="goToDetail()">
      <ion-icon name="chatbox-ellipses-outline" class="iconFooter"></ion-icon>
      <ion-label> {{ugc.commentCount}} {{ugc.commentCount == 1 ? 'Comment' : 'Comments'}}</ion-label>
    </ion-col>
  </ion-row>
</ion-card>