<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/me" slot="start"></ion-back-button>
    <ion-title>New Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-justify-content-center" size="4">
        <ion-img src="/assets/images/sketch.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-wrap ion-text-center">
        <h2>This feature isn't quite ready yet. We'll let you know when you can use it.</h2>
      </ion-col>    
    </ion-row>
  </ion-grid>
</ion-content>
