<ion-header *ngIf="user">
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/feed" slot="start"></ion-back-button>
    <ion-title>{{ user.name.trim() == "" ? user.username : user.name }}</ion-title>
    <ion-button *ngIf="userService.me && userService.followees && !userService.isMe(user)" 
      slot="end" 
      size="small" 
      [fill]="userService.iFollow(user.id) ? 'solid' : 'outline'" 
      (click)="userService.toggleFollow(user.id)"
      class="ion-margin-end"
    >
      {{ userService.iFollow(user.id) ? "Following" : "Follow" }}
    </ion-button>
  </ion-toolbar>
  <ion-row justify-content-center>
    <ion-col size="4" (click)="showFollowers()">
      <p *ngIf="followers" class="followLabel">
        {{followers.length}} {{followers.length == 1 ? 'Follower' : 'Followers'}}
      </p>
    </ion-col>
    <ion-col size="4" class="ion-align-items-center">
      <ion-item lines="none" text-center>
        <ion-avatar item-start  class="ion-align-self-center">
          <img *ngIf="user.avatar64" [src]="'data:image/jpg;base64,' + user.avatar64">
          <img *ngIf="user.avatar64 === null" src="assets/images/empty_avatar.png">
        </ion-avatar>
      </ion-item>    
    </ion-col>
    <ion-col size="4" (click)="showFollowees()">
      <p *ngIf="followees" class="followLabel">
        {{followees.length}} Following
      </p>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content *ngIf="user">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="clickTab($event, 'user-recipes')" tab="user-recipes">
        <ion-icon name="restaurant"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="clickTab($event, 'user-tips')" tab="user-tips">
        <ion-icon name="bulb"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="clickTab($event, 'user-deals')" tab="user-deals">
        <ion-icon name="pricetag"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="clickTab($event, 'user-reviews')" tab="user-reviews">
        <ion-icon name="chatbubble"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
