<ion-header>
  <ion-toolbar>
    <ion-title>Choose a Market</ion-title>
    <ion-label slot="end" color="primary" (click)="dismiss()" class="ion-padding-end">Cancel</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="focus" debounce="500" animated (ionChange)="search($event)"></ion-searchbar>
  <ng-container *ngIf="searchResults">
    <ion-toolbar>
      <ion-title color="primary">Search Results</ion-title>
    </ion-toolbar>
    <ion-list>
      <ion-row *ngIf="searchResults == []" style="height: 100%">
        <ion-col class="ion-text-center" style="margin: auto;">
          <ion-spinner style="margin: auto;"></ion-spinner>
        </ion-col>
      </ion-row>
      <ion-item *ngFor="let market of searchResults" (click)="viewCtrl.dismiss(market)">
        {{market.name}} ({{market.address}})
      </ion-item>
    </ion-list>
  </ng-container>
  <ion-toolbar>
    <ion-title color="primary">Nearby</ion-title>
  </ion-toolbar>
  <ion-list>
    <ion-row *ngIf="nearby == null" style="height: 100%">
      <ion-col class="ion-text-center" style="margin: auto;">
        <ion-spinner style="margin: auto;"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-item *ngFor="let market of nearby" (click)="viewCtrl.dismiss(market)">
      {{market.name}}
    </ion-item>
  </ion-list>
</ion-content>
