<ion-header>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" debounce="500" animated (ionChange)="search($event.target.value)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="tagBar">
    <ion-button *ngFor="let market of feedService.getMarkets()" size="small" fill="outline" class="tagButton" (click)="removeMarket(market.id)">{{market.name}}<ion-icon name="close-circle"></ion-icon></ion-button>
    <ion-button *ngFor="let tag of feedService.getTags()" size="small" fill="outline" class="tagButton" (click)="removeTag(tag.id)">#{{tag.name}}<ion-icon name="close-circle"></ion-icon></ion-button>
    <ion-button slot="end" class="iconButton" (click)="presentFilterModal()"><ion-icon name="funnel-outline" size="large"></ion-icon></ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-text-center tab-has-label tab-has-icon tab-layout-icon-top" style="margin: auto;" (click)="feedService.toggleType('deal')">
        <ion-label [color]="feedService.typeEnabled('deal') ? 'primary' : ''" [class]="feedService.typeEnabled('deal') ? 'headerIcon' : 'headerIconStrikethrough'">
          <ion-icon [name]="feedService.typeEnabled('deal') ? 'pricetag' : 'pricetag-outline'"></ion-icon>
          Deals
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center tab-has-label tab-has-icon tab-layout-icon-top" style="margin: auto;" (click)="feedService.toggleType('recipe')">
        <ion-label [color]="feedService.typeEnabled('recipe') ? 'primary' : ''" [class]="feedService.typeEnabled('recipe') ? 'headerIcon' : 'headerIconStrikethrough'">
          <ion-icon [name]="feedService.typeEnabled('recipe') ? 'restaurant' : 'restaurant-outline'"></ion-icon>
          Recipes
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center tab-has-label tab-has-icon tab-layout-icon-top" style="margin: auto;" (click)="feedService.toggleType('review')">
        <ion-label [color]="feedService.typeEnabled('review') ? 'primary' : ''" [class]="feedService.typeEnabled('review') ? 'headerIcon' : 'headerIconStrikethrough'">
          <ion-icon [name]="feedService.typeEnabled('review') ? 'chatbubble' : 'chatbubble-outline'"></ion-icon>
          Reviews
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center tab-has-label tab-has-icon tab-layout-icon-top" style="margin: auto;" (click)="feedService.toggleType('tip')">
        <ion-label [color]="feedService.typeEnabled('tip') ? 'primary' : ''" [class]="feedService.typeEnabled('tip') ? 'headerIcon' : 'headerIconStrikethrough'">
          <ion-icon [name]="feedService.typeEnabled('tip') ? 'bulb' : 'bulb-outline'"></ion-icon>
          Tips
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshFeed($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngFor="let ugc of feedService.results">
    <app-pg-eats-ugc-card [ugc]="ugc"></app-pg-eats-ugc-card>
  </ng-container>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="nextPage($event)">
    <ion-infinite-scroll-content
      [loadingText]="getLoadingText()">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
