<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/tabs/nearby" slot="start"></ion-back-button>
    <ion-title *ngIf="market">
      <div class="ion-text-wrap">{{ market.name }}</div>
    </ion-title>
    <ion-button *ngIf="market" (click)="navigate()" slot="end" class="ion-padding-end">
      <ion-icon name="map-outline" color="white" size="large"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="market">
  <ion-list lines="none">
    <ion-item *ngIf="market.image64">
      <ion-img [src]="'data:image/jpg;base64,' + market.image64"></ion-img>
    </ion-item>
    <ion-item *ngIf="market.address">
      <ion-icon name="location-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ market.address }}</ion-label>
    </ion-item>
    <ion-item *ngIf="market.hours">
      <ion-icon name="time-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ market.hours }}</ion-label>
    </ion-item>
    <ion-item (click)="navigateToDeals()">
      <ion-icon name="pricetag-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ market.dealsCount }} {{ market.dealsCount == 1 ? 'deal' : 'deals' }} found</ion-label>
    </ion-item>
    <ion-item (click)="navigateToReviews()">
      <ion-icon name="chatbubble-outline" color="primary" slot="start" size="large"></ion-icon>
      <eats-five-star-display [value]="market.reviewsRating"></eats-five-star-display>
      <ion-label class="ion-text-wrap"> ({{ market.reviewsCount }} {{ market.reviewsCount == 1 ? 'review' : 'reviews' }})</ion-label>
    </ion-item>
    <ion-item *ngIf="market.phone">
      <ion-icon name="call-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ market.phone }}</ion-label>
    </ion-item>
    <ion-item *ngIf="market.url">
      <ion-icon name="globe-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ market.url }}</ion-label>
    </ion-item>
    <ion-item *ngIf="market.email">
      <ion-icon name="mail-outline" color="primary" slot="start" size="large"></ion-icon>
      <ion-label class="ion-text-wrap">{{ market.email }}</ion-label>
    </ion-item>

  </ion-list>
  <ion-grid class="ion-padding">
  </ion-grid>
</ion-content>
